# Broker Mosquitto (dockerisé)
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_WEBSOCKET_PORT=19001
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=60
MQTT_QOS=1

# Prefixe des topics : topic final = {MQTT_TOPIC_PREFIX}/{id_machine}/{capteur}
MQTT_TOPIC_PREFIX=usine/iot

# Fichier de donnees a rejouer (une ligne JSON = un instant)
JSONL_PATH=datas/gold/mqtt_iot_plc_send.jsonl

# Intervalle entre chaque ligne (en secondes)
SEND_INTERVAL_SECONDS=2

# Base TimescaleDB (dockerisée)
TIMESCALEDB_HOST=localhost
TIMESCALEDB_PORT=5459
TIMESCALEDB_USER=iot
TIMESCALEDB_PASSWORD=iot
TIMESCALEDB_DATABASE=iot


POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
POSTGRES_PORT=5433
