.idea
.venv
.env
datas/bronze/*.csv
datas/silver/*.csv
datas/gold/*.csv
datas/gold/*.json
datas/gold/*.jsonl
note mqtt.md
__marimo__
.obsidian
mosquitto/data
mosquitto/log
bdd/parquet/*.parquet
**/__pycache__/*
**/.ipynb_checkpoints

.github/
.kilocode/
.opencode/
/bdd/parquet/.flush_checkpoint
.claude/
openspec
/datas/gold/mqtt_iot_plc_send.7z
/datas/mqtt_iot_plc_send.jsonl
**/__init__.py

**/.~lock*
**/*.zip
src/gold/generate_sector.py