.idea
.venv
.env
datas/bronze/*.csv
datas/silver/*.csv
datas/gold/*.csv
datas/gold/*.json
datas/gold/*.jsonl
note mqtt.md
__marimo__
.obsidian
mosquitto/data
mosquitto/log
timescaledb/data
**/__pycache__/*
**/.ipynb_checkpoints